<launch>
    <node pkg="rktl_sim" type="visualizer" name="visualizer" output="screen">
        <rosparam command="load" file="$(find rktl_sim)/config/visualization.yaml"/>
        <param name="media/ball"    value="$(find rktl_sim)/media/ball.png"/>
        <param name="media/car"     value="$(find rktl_sim)/media/car.png"/>
        <param name="media/goal"    value="$(find rktl_sim)/media/goal.png"/>
        <param name="media/field"   value="$(find rktl_sim)/media/field.jpg"/>
    </node>
</launch>