<launch>
  <arg name="bag" />

    <include ns="cam0" file="$(find rktl_perception)/launch/camera_boilerplate.launch">
        <arg name="camera_name" value="cam0"/>
    </include>

    <include ns="cam1" file="$(find rktl_perception)/launch/camera_boilerplate.launch">
        <arg name="camera_name" value="cam1"/>
    </include>

    <include ns="cam2" file="$(find rktl_perception)/launch/camera_boilerplate.launch">
        <arg name="camera_name" value="cam2"/>
    </include>

    <include ns="cam3" file="$(find rktl_perception)/launch/camera_boilerplate.launch">
        <arg name="camera_name" value="cam3"/>
    </include>

    <node ns="car0" pkg="rktl_perception" type="odom_generator" name="odom_generator">
        <param name="buffer_size" value="10"/>
    </node>

    <node ns="ball" pkg="rktl_perception" type="odom_generator" name="odom_generator">
        <param name="buffer_size" value="10"/>
    </node>
</launch>
