<launch>
    <!-- Run multiple cameras -->
    <include file="$(find rktl_perception)/launch/camera.launch">
        <arg name="camera_name" value="cam0"/>
    </include>

    <include file="$(find rktl_perception)/launch/camera.launch">
        <arg name="camera_name" value="cam1"/>
    </include>

    <include file="$(find rktl_perception)/launch/camera.launch">
        <arg name="camera_name" value="cam2"/>
    </include>

    <include file="$(find rktl_perception)/launch/camera.launch">
        <arg name="camera_name" value="cam3"/>
    </include>

    <node pkg="rktl_perception" type="tf_parser" name="tf_parser" output="screen">
        <rosparam param="camera_names">[cam0, cam1, cam2, cam3]</rosparam>
        <rosparam param="tag_names">[tag_1, tag_2]</rosparam>
    </node>
</launch>
