<launch>
  <arg name="target" default="car0"/>

  <node ns="$(arg target)" type="odom_estimator" pkg="rktl_perception" name="odometry" output="screen">
    <param name="base_link" value="$(arg target)"/>
    <rosparam command="load" file="$(find rktl_perception)/config/$(arg target)_odom.yaml"/>
  </node>
</launch>
