<launch>
  <include file="$(find rocket_league_estimation)/launch/ball_transform.launch"/>
  <include file="$(find rocket_league_estimation)/launch/odometry.launch">
    <arg name="target" value="ball"/>
  </include>

  <include file="$(find rocket_league_estimation)/launch/odometry.launch">
    <arg name="target" value="car0"/>
  </include>

  <include file="$(find rocket_league_estimation)/launch/odometry.launch">
    <arg name="target" value="car1"/>
  </include>
</launch>
