<?xml version="1.0"?> 
<robot name="sidewall">
    <!-- Colors --> 
    <material name="gray"> 
        <color rgba="0.1 0.1 0.1 1"/>
    </material>


    <!-- Base Frame of Sidewall --> 
    <link name="base_link">
        <visual>
            <geometry> 
                <box size="0.25 4.572 0.25"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.25 4.572 0.25"/>
            </geometry>
      </collision>
    </link> 
    
</robot>
