<?xml version="1.0"?>
<launch>
    <arg name="ball_img_path" default="$(find rocket_league_visualization)/assets/img/ball.png" />
    <arg name="car_img_path" default="$(find rocket_league_visualization)/assets/img/car.png" />

    <node pkg="rocket_league_visualization" type="visualizer_node" name="visualizer_node" output="screen" required="true">
        <param name="BALL_IMG_PATH" value="$(arg ball_img_path)" />
        <param name="CAR_IMG_PATH" value="$(arg car_img_path)" />
    </node>
</launch>