<?xml version="1.0"?>
<launch>
    <!-- Image assets -->
    <arg name="ball_img_path" default="$(find rocket_league_visualization)/media/ball.png" />
    <arg name="car_img_path" default="$(find rocket_league_visualization)/media/car.png" />
    <arg name="goal_img_path" default="$(find rocket_league_visualization)/media/goal.png" />

    <node pkg="rocket_league_visualization" type="visualizer_node" name="visualizer_node" output="screen" required="true">
        <rosparam command="load" file="$(find rocket_league_visualization)/yaml/visualization.yaml" />
        <param name="BALL_IMG_PATH" value="$(arg ball_img_path)" />
        <param name="CAR_IMG_PATH" value="$(arg car_img_path)" />
        <param name="GOAL_IMG_PATH" value="$(arg goal_img_path)" />
    </node>
</launch>