<launch>
  <arg name="frame_id" default="map"/>
  <arg name="timeout" default="1.0"/>
  <arg name="rate" default="128"/>
  <arg name="use_pygame" default="true"/>

  <node type="racersim_node" pkg="racersim" name="racersim_node" output="screen">
    <param name="~frame_id" value="$(arg frame_id)"/>
    <param name="~timeout" value="$(arg timeout)"/>
    <param name="~rate" value="$(arg rate)"/>
    <param name="~render/enabled" value="$(arg use_pygame)"/>
    <rosparam command="load" file="$(find rocket_league_highlevel)/YAML_files/high_level_info.yaml" />
  </node>
</launch>
