<launch>
  <arg name="render"        default="false"/>
  <arg name="rate"          default="30.0"/>

  <param name="/use_sim_time" value="true"/>

  <node type="cart_pole_node" pkg="rocket_league_drl" name="cart_pole_node" output="screen">
    <param name="frequency" value="$(eval 1/rate)"/>
    <param name="render"    value="$(arg render)"/>
  </node>
</launch>
