<launch>
  <!-- arguments -->
  <arg name="render"        default="false"/>

  <!-- constants -->
  <arg name="rate"          default="10.0"/>

  <param name="/use_sim_time" value="true"/>

  <!-- environment -->
  <include file="$(find rocket_league_launch)/launch/rocket_league_sim.launch"/>

  <!-- agent -->
  <node type="train_rocket_league.py" pkg="rocket_league_drl" name="rocket_league_agent" output="screen" required="true">
    <rosparam command="load" file="$(find rocket_league_drl)/params/rocket_league.yaml"/>
    <param name="rate"       value="$(arg rate)"/>
  </node>

  <!-- plot performance -->
  <node type="plotter" pkg="rocket_league_drl" name="plotter" output="screen">
    <rosparam command="load" file="$(find rocket_league_drl)/params/rocket_league.yaml"/>
    <remap from="~log" to="rocket_league_agent/log"/>
  </node>
</launch>
