<launch>
  <include file="$(find camera_tracking)/launch/single_camera.launch"/>
  <include file="$(find rocket_league_estimation)/launch/rocket_league_estimation.launch"/>
  <include file="$(find local_planner)/launch/local_planner.launch"/>
  <include file="$(find rocket_league_control)/launch/velocity_controller.launch"/>
  <!-- <node name="arduino_control_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0" output="screen" /> -->
</launch>
