<launch>
    <group ns="cam0">
        <include file="$(find camera_tracking)/launch/camera_boilerplate.launch">
            <arg name="load_manager" value="true"/>
            <arg name="manager_name" value="camera_manager"/>
            <arg name="manager_threads" value="4"/>
            <arg name="camera_name" value="cam0"/>
        </include>
    </group>
    <group ns="cam1">
        <include file="$(find camera_tracking)/launch/camera_boilerplate.launch">
            <arg name="load_manager" value="true"/>
            <arg name="manager_name" value="camera_manager"/>
            <arg name="manager_threads" value="4"/>
            <arg name="camera_name" value="cam1"/>
        </include>
    </group>

    <!--node pkg="camera_tracking" type="tf_parser" name="tf_parser" output="log">
        <rosparam param="camera_names">[cam0, cam1]</rosparam>
        <rosparam param="tag_names">[tag_0, tag_69]</rosparam>
    </node-->

    <node pkg="rosbag" type="play" name="player" args="--skip-empty=0.5 --clock /home/danielg/catkin_ws/data/out.bag" required="true" />
</launch>
