<?xml version="1.0"?> 
<robot name="backwall">
    <!-- Colors --> 
    <material name="gray"> 
        <color rgba="0.25 0.25 0.25 1"/>
    </material>


    <!-- Base Frame of Backwall --> 
    <link name="base_link">
        <visual> 
            <geometry> 
                <box size="10. 0.25 0.25"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="10. 0.25 0.25"/>
            </geometry>
      </collision>
    </link> 
    
</robot>
