# Project Dependencies
numpy               # rktl_autonomy, rktl_control, rktl_planner, rtkl_sim
matplotlib          # rktl_autonomy
gym[box2d]          # rktl_autonomy
stable-baselines3   # rktl_autonomy
optuna              # rktl_autonomy
pfilter             # rktl_control
pybullet            # rktl_sim

# Other Misc. Packages
scipy
pandas
jupyterlab
autopep8
pyflakes
pip-tools
PyYAML

# Documentation
Sphinx>=5,<6
sphinx_rtd_theme
myst_parser
sphinx-autoapi
