<launch>

    <arg name="device" default="/dev/input/js0"/>

    <!-- Xbox controller -->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false">
        <param name="dev" value="/dev/input/js0"/>
    </node>

    <node name="xbox_to_control" pkg="camera_tracking" type="xbox_to_control" output="screen" respawn="false">
        <param name="device" value="/dev/input/js0"/>
    </node> 
</launch>