<launch>
  <arg name="training"  default="false"/>
  <arg name="render"    default="false"/>

  <arg name="size"  default="7"/>
  <arg name="vw"    default="2.0"/>
  <arg name="vx"    default="2.0"/>
  <arg name="rate"  default="30.0"/>

  <arg name="alive_reward"  default="30.0"/>
  <arg name="death_reward"  default="-100.0"/>
  <arg name="goal_reward"   default="50.0"/>
  <arg name="near_reward"   default="-0.1"/>
  <arg name="max_time"      default="30.0"/>

  <arg name="gamma"         default="0.95"/>
  <arg name="epsilon_decay" default="0.995"/>
  <arg name="learning_rate" default="0.001"/>
  <arg name="num_episodes"  default="1000"/>

  <arg name="log_weights" default="false"/>
  <arg name="log_dir"     default=""/>
  <arg name="log_freq"    default="50"/>

  <param name="/use_sim_time" value="$(arg training)"/>

  <node type="snake_node" pkg="snakesim" name="snake_node" output="screen">
    <param name="render/enabled"          value="$(arg render)"/>
    <param name="snake/initial_segments"  value="$(arg size)"/>
    <param name="snake/growth"            value="0"/>
    <param name="rate"                    value="$(arg rate)"/>
  </node>

  <node type="snake_dqn" pkg="snake_dqn" name="snake_dqn" output="screen" respawn="true" args="$(eval '--training' if training else '')">
    <param name="num_segments"     value="$(arg size)"/>
    <param name="angular_velocity" value="$(arg vw)"/>
    <param name="linear_velocity"  value="$(arg vx)"/>
    <param name="rate"             value="$(arg rate)"/>

    <param name="reward/per_second"         value="$(arg alive_reward)"/>
    <param name="reward/death"              value="$(arg death_reward)"/>
    <param name="reward/goal"               value="$(arg goal_reward)"/>
    <param name="reward/per_unit_from_goal" value="$(arg near_reward)"/>
    <param name="max_episode_time"  value="$(arg max_time)"/>

    <param name="dqn/gamma"         value="$(arg gamma)"/>
    <param name="dqn/epsilon_decay" value="$(arg epsilon_decay)"/>
    <param name="dqn/learning_rate" value="$(arg learning_rate)"/>
    <param name="num_episodes"      value="$(arg num_episodes)"/>
  </node>

  <node if="$(arg log_weights)" type="logger" pkg="snake_dqn" name="logger" output="screen">
    <param name="log_weights" value="$(arg log_weights)"/>
    <param name="log_dir"     value="$(arg log_dir)"/>
    <param name="log_freq"    value="$(arg log_freq)"/>
  </node>
</launch>
