<launch>

  <node ns="web_cam" type="ball_detection" pkg="rocket_league_estimation" name="ball_detection">
    <param name="showImage" value="true"/>
    <param name="cam_height" value="533"/>
    <param name="min_hue" value="60"/>
    <param name="min_sat" value="135"/>
    <param name="min_vib" value="50"/>
    <param name="max_hue" value="140"/>
    <param name="max_sat" value="255"/>
    <param name="max_vib" value="255"/>
  </node>

</launch>
