<launch>
  <arg name="camera_ns" default="aravis_cam"/>

  <node type="detection_to_pose" pkg="rocket_league_estimation" name="car_detection_to_pose">
    <param name="tag_id"    value="0"/>
    <param name="tag_name"  value="car_tag"/>
    <param name="body_name" value="car"/>

    <param name="publish_tf" value="true"/>
    <param name="publish_pose" value="true"/>

    <remap from="tag_detections" to="$(arg camera_ns)/tag_detections"/>
    <remap from="pose" to="bot_pose"/>
  </node>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="car_tag_publisher" args="0 0 0 0 0 0 car car_tag" />
</launch>
