<launch>
  <arg name="map_tag_id" value="0"/>
  <arg name="map_name" value="map"/>

  <node type="detection_to_pose" pkg="rocket_league_estimation" name="pose_estimator">
    <param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/>
    <param name="" value=""/>
    <rosparam command="load" file="$(find rocket_league_estimation)/params/pose_estimator.yaml" />
    <remap from="tag_detections" to="aravis_cam/tag_detections"/>
    <remap from="odom" to="bot_odom"/>
  </node>
</launch>
