<launch>
  <arg name="bag" />

  <!-- Run multiple cameras -->
  <include file="$(find camera_tracking)/launch/aravis_camera.launch">
    <arg name="camera_name" value="cam0" />
    <arg name="launch_boilerplate" value="false" />
  </include>

  <include file="$(find camera_tracking)/launch/aravis_camera.launch">
    <arg name="camera_name" value="cam1" />
    <arg name="launch_boilerplate" value="false" />
  </include>

  <node pkg="rosbag" type="record" name="record" output="screen" args="-a $(arg bag)" />
</launch>
