<launch>
  <arg name="launch_dynamic_reconfigure" default="false"/>

  <!-- Run multiple cameras -->
  <include file="$(find camera_tracking)/launch/single_camera.launch">
    <arg name="camera_name" value="cam0"/>
    <arg name="launch_dynamic_reconfigure" value="$(arg launch_dynamic_reconfigure)"/>
  </include>

  <include file="$(find camera_tracking)/launch/single_camera.launch">
    <arg name="camera_name" value="cam1"/>
    <arg name="launch_dynamic_reconfigure" value="$(arg launch_dynamic_reconfigure)"/>
  </include>

  <include file="$(find camera_tracking)/launch/single_camera.launch">
    <arg name="camera_name" value="cam2"/>
    <arg name="launch_dynamic_reconfigure" value="$(arg launch_dynamic_reconfigure)"/>
  </include>

  <include file="$(find camera_tracking)/launch/single_camera.launch">
    <arg name="camera_name" value="cam3"/>
    <arg name="launch_dynamic_reconfigure" value="$(arg launch_dynamic_reconfigure)"/>
  </include>

  <node pkg="camera_tracking" type="tf_parser" name="tf_parser" output="screen">
    <rosparam param="camera_names">[cam0, cam1, cam2, cam3]</rosparam>
    <rosparam param="tag_names">[tag_0, tag_1, tag_69]</rosparam>
  </node>
</launch>
