<launch>
  <!-- Run multiple cameras -->
  <include file="$(find camera_tracking)/launch/aravis_camera.launch">
    <arg name="camera_name" value="cam0"/>
  </include>

  <include file="$(find camera_tracking)/launch/aravis_camera.launch">
    <arg name="camera_name" value="cam1"/>
  </include>

  <node pkg="camera_tracking" type="tf_parser" name="tf_parser" output="screen">
    <rosparam param="camera_names">[cam0, cam1]</rosparam>
    <rosparam param="tag_names">[tag_0, tag_1, tag_69]</rosparam>
  </node>
</launch>
