<launch>
  <include file="$(find camera_tracking)/launch/single_webcam.launch">
    <arg name="load_manager" value="true"/>
    <arg name="camera_name" value="gerblick_logitech"/>
  </include>

  <include file="$(find camera_tracking)/launch/single_webcam.launch">
    <arg name="load_manager" value="false"/>
    <arg name="camera_name" value="gerblick_laptop"/>
  </include>

  <node pkg="camera_tracking" type="tf_parser" name="tf_parser" output="screen">
    <rosparam param="camera_names">[gerblick_logitech, gerblick_laptop]</rosparam>
    <rosparam param="tag_names">[tag_0, tag_1, tag_69]</rosparam>
  </node>
</launch>
