<launch>
  <arg name="frame_id" default="map"/>
  <arg name="is_debug" default="true"/>

  <node type="waypoint_controller_node" pkg="local_planner" name="waypoint_controller" output="screen">
    <param name="~frame_id" value="$(arg frame_id)"/>
    <param name="~is_debug" value="$(arg is_debug)"/>
    <param name="~lookahead_dist" value="0.5"/>
    <param name="~lookahead_gain" value="0.1"/>
    <param name="~lookahead_pnts" value="-1"/>
  </node>

  <node type="trajectory_planner_node" pkg="local_planner" name="trajectory_planner_node" output="screen">
    <rosparam command="load" file="$(find local_planner)/YAML_files/trajectory_params.yaml" />
  </node>
</launch>
