<launch>
  <arg name="render"        default="false"/>
  <arg name="rate"          default="30.0"/>

  <param name="/use_sim_time" value="true"/>

  <node type="cart_pole_node" pkg="rktl_autonomy" name="cart_pole_env" output="screen">
    <param name="frequency" value="$(eval 1/rate)"/>
    <param name="render"    value="$(arg render)"/>
  </node>

  <node type="train_cart.py" pkg="rktl_autonomy" name="cart_pole_agent" output="screen"/>
</launch>
