<launch>
    <arg name="car_name" default="car0"/>
    <arg name="use_particle_filter" default="true"/>

    <group ns="cars/$(arg car_name)">
        <!-- Filter -->
        <node if="$(arg use_particle_filter)" pkg="rktl_control" type="particle_odom_filter" name="particle_odom_filter" output="screen">
            <rosparam command="load" file="$(find rktl_control)/config/particle_odom_filter.yaml"/>
        </node>
        <node if="not $(arg use_particle_filter)" pkg="rktl_control" type="mean_odom_filter" name="mean_odom_filter" output="screen">
            <rosparam command="load" file="$(find rktl_control)/config/mean_odom_filter.yaml"/>
        </node>

        <!-- Controller -->
        <node pkg="rktl_control" type="velocity_controller" name="velocity_controller" output="screen">
            <rosparam command="load" file="$(find rktl_control)/config/velocity_controller.yaml"/>
        </node>
    </group>
</launch>
