<launch>
  <node pkg="rktl_control" type="pose_to_tf" name="cam0_tf">
    <param name="cam_frame" value="cam0"/>
  </node>

  <node pkg="rktl_control" type="pose_to_tf" name="cam1_tf">
    <param name="cam_frame" value="cam1"/>
  </node>

  <node pkg="rktl_control" type="pose_to_tf" name="cam2_tf">
    <param name="cam_frame" value="cam2"/>
  </node>

  <node pkg="rktl_control" type="pose_to_tf" name="cam3_tf">
    <param name="cam_frame" value="cam3"/>
  </node>

  <node pkg="rktl_control" type="projector" name="cam0_projector">
    <param name="cam_frame" value="cam0"/>
  </node>
  <node pkg="rktl_control" type="projector" name="cam1_projector">
    <param name="cam_frame" value="cam1"/>
  </node>
  <node pkg="rktl_control" type="projector" name="cam2_projector">
    <param name="cam_frame" value="cam2"/>
  </node>
  <node pkg="rktl_control" type="projector" name="cam3_projector">
    <param name="cam_frame" value="cam3"/>
  </node>
</launch>