<launch>

    <arg name="device" default="/dev/input/js0"/>

    <!--  controller -->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false">
        <param name="dev" value="$(arg device)"/>
    </node>

    <node name="xbox_interface" pkg="rktl_control" type="xbox_interface" output="screen" respawn="false">
        <param name="device" value="$(arg device)"/>
    </node>
</launch>