<launch>
    <include file="$(find rktl_perception)/launch/camera.launch">
        <arg name="camera_name" value="cam2"/>
    </include>

    <include file="$(find rktl_perception)/launch/camera.launch">
        <arg name="camera_name" value="cam3"/>
    </include>

    <node pkg="rktl_control" type="pose_synchronizer" name="pose_sync_node" output="screen">
        <rosparam command="load" file="$(find rktl_control)/config/pose_synchronizer.yaml"/>
    </node>

    <include file="$(find rktl_launch)/launch/rocket_league.launch"/>
</launch>