<launch>
    <arg name="render" default="true"/>
    <arg name="pybullet_render" default="false"/>
    <arg name="simulate_car_effort" default="false" />
    <arg name="simulate_filter" default="false" />

    <rosparam command="load" file="$(find rktl_launch)/config/global_params.yaml"/>

    <!-- Simulation -->
    <include if="$(arg render)" file="$(find rktl_sim)/launch/visualizer.launch" pass_all_args="true"/>
    <include file="$(find rktl_sim)/launch/simulator.launch" pass_all_args="true"/>

    <!-- Ball -->
    <include file="$(find rktl_control)/launch/ball.launch"/>

    <!-- Cars -->
    <include file="$(find rktl_control)/launch/car.launch">
        <arg name="car_name" value="car0" />
    </include>

    <!-- Agents -->
    <include file="$(find rktl_planner)/launch/simple_agent.launch">
        <arg name="agent_name" value="agent0" />
        <arg name="car_name" value="car0" />
    </include>
</launch>
