<launch>
    <rosparam command="load" file="$(find rktl_launch)/config/global_params.yaml"/>

    <!-- Ball -->
    <include file="$(find rktl_control)/launch/ball.launch"/>

    <!-- Cars -->
    <include file="$(find rktl_control)/launch/car.launch">
        <arg name="car_name" value="car0"/>
    </include>
    <include file="$(find rktl_control)/launch/hardware_interface.launch"/>

    <!-- Agents -->
    <include file="$(find rktl_planner)/launch/simple_agent.launch">
        <arg name="agent_name" value="agent0"/>
        <arg name="car_name" value="car0"/>
    </include>
</launch>
