# controller type: 'lead_lag' or 'pid'
controller_type: 'pid'
# parameters for all controllers
limits:
  throttle:
    min: -1.0
    max:  2.0
# parameters for lead_lag
lead:
  gain:  0.0
  alpha: 0.0
  beta:  0.0
lag:
  alpha: 0.0
  beta:  0.0
# parameters for pid
pid:
  kp: 1.0
  ki: 0.0
  kd: 0.0
  anti_windup: 0.0
  deadband: 0.0